@{
    ViewBag.Title = "Home Page";
}
<!-- Slider -->
<div class="rev_slider_wrapper fullwidthbanner-container">
    <div id="rev-slider1" class="rev_slider fullwidthabanner">
        <ul>
            <!-- Slide 1 -->
            <li data-transition="random">
                <!-- Main Image -->
                <img src="~/Public/assets/img/slider/slider-1.jpg" alt="image" data-bgposition="center center" data-no-retina>
                <!-- Layers -->
                <div class="tp-caption tp-resizeme text-white text-center font-heading font-weight-700"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-50','-50','-50','-80']"
                     data-fontsize="['100','100','100','35']"
                     data-lineheight="['110','110','110','98']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="700"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    WELCOME
                </div>
                <div class="tp-caption tp-resizeme text-white text-center"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['46','46','46','0']"
                     data-fontsize="['24','24','24','20']"
                     data-lineheight="['34','34','34','34']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    START BUILDING YOUR HOUSE. LET'S GO TODAY!
                </div>
                <div class="tp-caption text-center"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','100']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    <a href="#" class="wprt-button big">OUR SERVICES</a>
                </div>
            </li>
            <!-- End Slide 1 -->
            <!-- Slide 2 -->
            <li data-transition="random">
                <!-- Main Image -->
                <img src="~/Public/assets/img/slider/slider-2.jpg" alt="image" data-bgposition="center center" data-no-retina>
                <!-- Layers -->
                <div class="tp-caption tp-resizeme text-white text-center font-heading font-weight-700"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-50','-50','-50','-80']"
                     data-fontsize="['100','100','100','35']"
                     data-lineheight="['70','70','70','58']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="700"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    CONSTRUCTION
                </div>
                <div class="tp-caption tp-resizeme text-white text-center"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['46','46','46','0']"
                     data-fontsize="['24','24','24','20']"
                     data-lineheight="['36','36','36','24']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    We manage strong construction businesses in the UK,<br>US and South East Asia.
                </div>
                <div class="tp-caption text-center"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','100']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    <a href="#" class="wprt-button ">OUR SERVICES</a>
                </div>
            </li>
            <!-- End Slide 2 -->
        </ul>
    </div>
</div><!-- /.rev_slider_wrapper -->
<!-- Main Content -->
<main id="main-content">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div id="page-content">
                    <!-- Our Services 1 -->
                    <div class="row-services-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer clearfix" data-desktop="100" data-mobi="60" data-smobi="60"></div>
                                    <div class="wprt-headings clearfix">
                                        <h2 class="heading font-size-30">OUR SERVICES</h2>
                                        <div class="sep"></div>
                                    </div>

                                    <div class="wprt-spacer clearfix" data-desktop="48" data-mobi="48" data-smobi="48"></div>

                                    <div class="wprt-carousel-box arrow-style-1 arrow-square arrow-top has-arrows" data-auto="false" data-loop="treu" data-gap="30" data-column="3" data-column2="2" data-column3="1">
                                        <div class="owl-carousel owl-theme">
                                            <div class="wprt-image-box style-1">
                                                <div class="item">
                                                    <div class="inner">
                                                        <div class="thumb">
                                                            <img src="~/Public/assets/img/services/our-services-1-370x250.jpg" alt="image">
                                                        </div><!-- /.thumb -->

                                                        <div class="text-wrap">
                                                            <h3 class="title">
                                                                <a href="#">Design & Buil Package</a>
                                                            </h3>
                                                            <div class="desc">
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut accumsan orci. ulla pulvinar sed turpis sit amet ultrices. Praesent mollis maximus ligula ac.
                                                            </div>
                                                            <div class="wprt-btn margin-top-16">
                                                                <a class="small wprt-button outline" href="#">READ MORE</a>
                                                            </div>
                                                        </div><!-- /.text-wrap -->
                                                    </div><!-- /.inner -->
                                                </div><!-- /.item -->
                                            </div>

                                            <div class="wprt-image-box style-1">
                                                <div class="item">
                                                    <div class="inner">
                                                        <div class="thumb">
                                                            <img src="~/Public/assets/img/services/our-services-2-370x250.jpg" alt="image">
                                                        </div><!-- /.thumb -->

                                                        <div class="text-wrap">
                                                            <h3 class="title">
                                                                <a href="#">Reconstruction Services</a>
                                                            </h3>

                                                            <div class="desc">
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut accumsan orci. Nulla pulvinar sed turpis sit amet ultrices. Praesent mollis maximus ligula ac.
                                                            </div>

                                                            <div class="wprt-btn margin-top-16">
                                                                <a class="small wprt-button outline" href="#">READ MORE</a>
                                                            </div>
                                                        </div><!-- /.text-wrap -->
                                                    </div><!-- /.inner -->
                                                </div><!-- /.item -->
                                            </div>

                                            <div class="wprt-image-box style-1">
                                                <div class="item">
                                                    <div class="inner">
                                                        <div class="thumb">
                                                            <img src="~/Public/assets/img/services/our-services-3-370x250.jpg" alt="image">
                                                        </div><!-- /.thumb -->

                                                        <div class="text-wrap">
                                                            <h3 class="title">
                                                                <a href="#">Laminate Flooring</a>
                                                            </h3>

                                                            <div class="desc">
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut accumsan orci. Nulla pulvinar sed turpis sit amet ultrices. Praesent mollis maximus ligula ac.
                                                            </div>

                                                            <div class=" wprt-btn margin-top-16">
                                                                <a class="small wprt-button outline" href="#">READ MORE</a>
                                                            </div>
                                                        </div><!-- /.text-wrap -->
                                                    </div><!-- /.inner -->
                                                </div>
                                            </div>

                                            <div class="wprt-image-box style-1">
                                                <div class="item">
                                                    <div class="inner">
                                                        <div class="thumb">
                                                            <img src="~/Public/assets/img/services/our-services-2-370x250.jpg" alt="image">
                                                        </div><!-- /.thumb -->

                                                        <div class="text-wrap">
                                                            <h3 class="title">
                                                                <a href="#">Design & Buil Package</a>
                                                            </h3>

                                                            <div class="desc">
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut accumsan orci. ulla pulvinar sed turpis sit amet ultrices. Praesent mollis maximus ligula ac.
                                                            </div>

                                                            <div class="wprt-btn margin-top-16">
                                                                <a class="small wprt-button outline" href="#">READ MORE</a>
                                                            </div>
                                                        </div><!-- /.text-wrap -->
                                                    </div><!-- /.inner -->
                                                </div><!-- /.item -->
                                            </div>

                                            <div class="wprt-image-box style-1">
                                                <div class="item">
                                                    <div class="inner">
                                                        <div class="thumb">
                                                            <img src="~/Public/assets/img/services/our-services-1-370x250.jpg" alt="image">
                                                        </div><!-- /.thumb -->

                                                        <div class="text-wrap">
                                                            <h3 class="title">
                                                                <a href="#">Reconstruction Services</a>
                                                            </h3>

                                                            <div class="desc">
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut accumsan orci. Nulla pulvinar sed turpis sit amet ultrices. Praesent mollis maximus ligula ac.
                                                            </div>

                                                            <div class="wprt-btn margin-top-16">
                                                                <a class="small wprt-button outline" href="#">READ MORE</a>
                                                            </div>
                                                        </div><!-- /.text-wrap -->
                                                    </div><!-- /.inner -->
                                                </div><!-- /.item -->
                                            </div>

                                            <div class="wprt-image-box style-1">
                                                <div class="item">
                                                    <div class="inner">
                                                        <div class="thumb">
                                                            <img src="~/Public/assets/img/services/our-services-3-370x250.jpg" alt="image">
                                                        </div><!-- /.thumb -->

                                                        <div class="text-wrap">
                                                            <h3 class="title">
                                                                <a href="#">Laminate Flooring</a>
                                                            </h3>

                                                            <div class="desc">
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut accumsan orci. Nulla pulvinar sed turpis sit amet ultrices. Praesent mollis maximus ligula ac.
                                                            </div>

                                                            <div class=" wprt-btn margin-top-16">
                                                                <a class="small wprt-button outline" href="#">READ MORE</a>
                                                            </div>
                                                        </div><!-- /.text-wrap -->
                                                    </div><!-- /.inner -->
                                                </div>
                                            </div>
                                        </div><!-- /.owl-carousel -->
                                    </div><!-- /.wprt-carousel-box -->

                                    <div class="wprt-spacer clearfix" data-desktop="100" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div><!-- /.row-services-1 -->
                    <!-- Projects 1 -->
                    <div class="row-project-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer clearfix" data-desktop="100" data-mobi="60" data-smobi="60"></div>
                                    <div class="wprt-headings clearfix">
                                        <h2 class="heading font-size-30 text-white">FEATURED WORKS</h2>
                                        <div class="sep"></div>
                                    </div>

                                    <div class="wprt-spacer clearfix" data-desktop="47" data-mobi="47" data-smobi="47"></div>

                                    <div class="wprt-carousel-box arrow-style-2 arrow-square arrow-top has-arrows" data-auto="true" data-loop="true" data-gap="30" data-column="3" data-column2="2" data-column3="1">
                                        <div class="owl-carousel owl-theme">
                                            <div class="project-item">
                                                <div class="inner">
                                                    <div class="effect-default">
                                                        <div class="project-image">
                                                            <img src="~/Public/assets/img/services/featured-services-1-370x450.jpg" alt="image">
                                                        </div><!-- /.project-img -->

                                                        <div class="text">
                                                            <div>
                                                                <h2><a href="#" title="">Apartments</a></h2>
                                                                <p>
                                                                    <span>
                                                                        <a href="#">Building</a>
                                                                    </span><span><a href="#">Office</a></span>
                                                                </p>
                                                            </div>
                                                        </div><!-- /.text -->

                                                        <a class="zoom-popup" href="assets/img/services/featured-services-1-370x450.jpg" data-title="Apartments">
                                                            <i class="fa fa-arrows-alt"></i>
                                                        </a>
                                                    </div><!-- /.effect-default -->
                                                </div>
                                            </div>

                                            <div class="project-item">
                                                <div class="inner">
                                                    <div class="effect-default">
                                                        <div class="project-image">
                                                            <img src="~/Public/assets/img/services/featured-services-2-370x450.jpg" alt="image">
                                                        </div><!-- /.project-img -->

                                                        <div class="text">
                                                            <div>
                                                                <h2><a href="#" title="">Apartments</a></h2>
                                                                <p>
                                                                    <span>
                                                                        <a href="#">Building</a>
                                                                    </span><span><a href="#">Office</a></span>
                                                                </p>
                                                            </div>
                                                        </div><!-- /.text -->

                                                        <a class="zoom-popup" href="assets/img/services/featured-services-2-370x450.jpg" data-title="Apartments">
                                                            <i class="fa fa-arrows-alt"></i>
                                                        </a>
                                                    </div><!-- /.effect-default -->
                                                </div>
                                            </div>

                                            <div class="project-item">
                                                <div class="inner">
                                                    <div class="effect-default">
                                                        <div class="project-image">
                                                            <img src="~/Public/assets/img/services/featured-services-3-370x450.jpg" alt="image">
                                                        </div><!-- .project-img -->

                                                        <div class="text">
                                                            <div>
                                                                <h2><a href="#" title="">Apartments</a></h2>
                                                                <p>
                                                                    <span>
                                                                        <a href="#">Building</a>
                                                                    </span><span><a href="#">Office</a></span>
                                                                </p>
                                                            </div>
                                                        </div><!-- /.text -->

                                                        <a class="zoom-popup" href="assets/img/services/featured-services-3-370x450.jpg" data-title="Apartments">
                                                            <i class="fa fa-arrows-alt"></i>
                                                        </a>
                                                    </div><!-- /.effect-default -->
                                                </div>
                                            </div>

                                            <div class="project-item">
                                                <div class="inner">
                                                    <div class="effect-default">
                                                        <div class="project-image">
                                                            <img src="~/Public/assets/img/services/featured-services-1-370x450.jpg" alt="image">
                                                        </div><!-- /.project-img -->

                                                        <div class="text">
                                                            <div>
                                                                <h2><a href="#" title="">Apartments</a></h2>
                                                                <p>
                                                                    <span>
                                                                        <a href="#">Building</a>
                                                                    </span><span><a href="#">Office</a></span>
                                                                </p>
                                                            </div>
                                                        </div><!-- /.text -->

                                                        <a class="zoom-popup" href="assets/img/services/featured-services-1-370x450.jpg" data-title="Apartments">
                                                            <i class="fa fa-arrows-alt"></i>
                                                        </a>
                                                    </div><!-- /.effect-default -->
                                                </div>
                                            </div>

                                            <div class="project-item">
                                                <div class="inner">
                                                    <div class="effect-default">
                                                        <div class="project-image">
                                                            <img src="~/Public/assets/img/services/featured-services-2-370x450.jpg" alt="image">
                                                        </div><!-- /.project-img -->

                                                        <div class="text">
                                                            <div>
                                                                <h2><a href="#" title="">Apartments</a></h2>
                                                                <p>
                                                                    <span>
                                                                        <a href="#">Building</a>
                                                                    </span><span><a href="#">Office</a></span>
                                                                </p>
                                                            </div>
                                                        </div><!-- /.text -->

                                                        <a class="zoom-popup" href="assets/img/services/featured-services-2-370x450.jpg" data-title="Apartments">
                                                            <i class="fa fa-arrows-alt"></i>
                                                        </a>
                                                    </div><!-- /.effect-default -->
                                                </div>
                                            </div>

                                            <div class="project-item">
                                                <div class="inner">
                                                    <div class="effect-default">
                                                        <div class="project-image">
                                                            <img src="~/Public/assets/img/services/featured-services-3-370x450.jpg" alt="image">
                                                        </div><!-- .project-img -->

                                                        <div class="text">
                                                            <div>
                                                                <h2><a href="#" title="">Apartments</a></h2>
                                                                <p>
                                                                    <span>
                                                                        <a href="#">Building</a>
                                                                    </span><span><a href="#">Office</a></span>
                                                                </p>
                                                            </div>
                                                        </div><!-- /.text -->

                                                        <a class="zoom-popup" href="assets/img/services/featured-services-3-370x450.jpg" data-title="Apartments">
                                                            <i class="fa fa-arrows-alt"></i>
                                                        </a>
                                                    </div><!-- /.effect-default -->
                                                </div>
                                            </div>
                                        </div><!-- /.owl-carousel -->
                                    </div><!-- /.wprt-carousel-box -->

                                    <div class="wprt-spacer clearfix" data-desktop="100" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div><!-- /.row-project-1 -->
                    <!-- About 1 -->
                    <div class="row-section overflow-hidden">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer clearfix" data-desktop="90" data-mobi="60" data-smobi="60"></div>

                                    <div class="wprt-headings clearfix">
                                        <h2 class="heading font-size-30">ABOUT US</h2>
                                        <div class="sep"></div>
                                    </div>

                                    <div class="wprt-spacer clearfix" data-desktop="60" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-4 col-sm-4">
                                    <div class="wprt-animation-block" data-animate="fadeInUp" data-duration="1s" data-delay="0.2s" data-position="75%">
                                        <div class="wprt-icon-box icon-top align-left  has-width w100">
                                            <div class="image-wrap">
                                                <img src="~/Public/assets/img/icon-1.png" alt="image">
                                            </div>

                                            <h3 class="heading">
                                                <a target="_blank" href="#">
                                                    <span>Motivation Company</span>
                                                </a>
                                            </h3>

                                            <p class="desc">
                                                <span>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscingelit. Vivamus ut accumsan orci. Nulla pulvinar sed turpis sit amet ultrices. Praesent mollis maximus ligula ac.
                                                </span>
                                            </p>

                                            <div class="wprt-btn  margin-top-25">
                                                <a class="small wprt-button outline" href="#">READ MORE</a>
                                            </div>
                                        </div>
                                    </div><!-- /.wprt-animation-block -->

                                    <div class="wprt-spacer clearfix" data-desktop="0" data-mobi="30" data-smobi="30"></div>
                                </div><!-- /.col-md-4-->

                                <div class="col-md-4 col-sm-4">
                                    <div class="wprt-animation-block" data-animate="fadeInUp" data-duration="1s" data-delay="0.4s" data-position="75%">
                                        <div class="wprt-icon-box icon-top align-left  has-width w100">
                                            <div class="image-wrap">
                                                <img src="~/Public/assets/img/icon-2.png" alt="image">
                                            </div>

                                            <h3 class="heading">
                                                <a target="_blank" href="#">
                                                    <span>Company History</span>
                                                </a>
                                            </h3>

                                            <p class="desc">
                                                <span>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscingelit. Vivamus ut accumsan orci. Nulla pulvinar sed turpis sit amet ultrices. Praesent mollis maximus ligula ac.
                                                </span>
                                            </p>

                                            <div class="wprt-btn  margin-top-25">
                                                <a class="small wprt-button outline" href="#">READ MORE</a>
                                            </div>
                                        </div>
                                    </div><!-- /.wprt-animation-box -->

                                    <div class="wprt-spacer clearfix" data-desktop="0" data-mobi="30" data-smobi="30"></div>
                                </div><!-- /.col-md-4-->

                                <div class="col-md-4 col-sm-4">
                                    <div class="wprt-animation-block" data-animate="fadeInUp" data-duration="1s" data-delay="0.6s" data-position="75%">
                                        <div class="wprt-icon-box icon-top align-left  has-width w100">
                                            <div class="image-wrap">
                                                <img src="~/Public/assets/img/icon-3.png" alt="image">
                                            </div>

                                            <h3 class="heading">
                                                <a target="_blank" href="#">
                                                    <span>Certificates</span>
                                                </a>
                                            </h3>

                                            <p class="desc">
                                                <span>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscingelit. Vivamus ut accumsan orci. Nulla pulvinar sed turpis sit amet ultrices. Praesent mollis maximus ligula ac.
                                                </span>
                                            </p>

                                            <div class="wprt-btn  margin-top-25">
                                                <a class="small wprt-button outline" href="#">READ MORE</a>
                                            </div>
                                        </div>
                                    </div><!-- /.wprt-animation-block -->
                                </div><!-- /.col-md-4-->

                                <div class="col-md-12">
                                    <div class="wprt-spacer clearfix" data-desktop="100" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div><!-- /.row-section -->
                    <!-- Facts 1  -->
                    <div class="row-facts-1 facts parallax">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer clearfix" data-desktop="128" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-12">
                                    <p class="text-right text-white text-center-mobi font-size-24 margin-bottom-0">WORKING WITH US</p>

                                    <p class="text-right text-white text-center-mobi font-size-80 font-heading-700 margin-bottom-25"><strong>WE ARE LEADER</strong></p>

                                    <div class="wprt-content-box text-right text-center-mobi">
                                        <div class="wprt-counter style-1 text-center white-type">
                                            <div class="numb-count" data-to="3214" data-speed="3000" data-inviewport="yes">3214</div>

                                            <div class="name-count">Project Completed</div>

                                            <div class="wprt-spacer clearfix" data-desktop="0" data-mobi="30" data-smobi="30"></div>
                                        </div>

                                        <div class="wprt-counter style-1 text-center white-type">
                                            <div class="numb-count" data-to="2234" data-speed="3000" data-inviewport="yes">2234</div>

                                            <div class="name-count">Workers Employed</div>

                                            <div class="wprt-spacer clearfix" data-desktop="0" data-mobi="30" data-smobi="30"></div>
                                        </div>

                                        <div class="wprt-counter style-1 white-type">
                                            <div class="numb-count" data-to="379" data-speed="3000" data-inviewport="yes">379</div>

                                            <div class="name-count">Awards Won</div>

                                            <div class="wprt-spacer clearfix" data-desktop="0" data-mobi="30" data-smobi="30"></div>
                                        </div>
                                    </div><!-- /.wprt-content-box -->
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-12">
                                    <div class="wprt-spacer clearfix" data-desktop="100" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div><!-- /.row-facts-1 -->
                    <!-- Action 1-->
                    <div class="row-action-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-action-box style-1">
                                        <div class="inner">
                                            <div class="heading-wrap">
                                                <div class="text-wrap">
                                                    <h2 class="heading">If you find a high quality constructor for your project?</h2>
                                                </div>
                                            </div><!-- /.heading-wrap -->

                                            <div class="button-wrap">
                                                <a href="#" class="wprt-button outline white">GET A QUOTE</a>
                                            </div><!-- /.button-wrap -->
                                        </div>
                                    </div><!-- /.wprt-content-box -->
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div><!-- /.row-action-1 -->
                    <!-- Recent News -->
                    <div class="row-recent-new-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer clearfix" data-desktop="88" data-mobi="60" data-smobi="60"></div>

                                    <div class="wprt-headings clearfix">
                                        <h2 class="heading font-size-30">RECENT NEWS</h2>
                                        <div class="sep"></div>
                                    </div>

                                    <div class="wprt-spacer clearfix" data-desktop="48" data-mobi="48" data-smobi="48"></div>
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-12">
                                    <div class="wprt-carousel-box arrow-style-1 arrow-square arrow-top has-arrows" data-auto="true" data-loop="true" data-gap="30" data-column="3" data-column2="2" data-column3="1">
                                        <div class="owl-carousel owl-theme">
                                            <div class="wprt-news style-1">
                                                <div class="news-item">
                                                    <div class="inner">
                                                        <img src="~/Public/assets/img/news/news-1-740x500.jpg" alt="image">

                                                        <div class="text-wrap">
                                                            <h3 class="title">
                                                                <a href="#">Future Smart Houses</a>
                                                            </h3>

                                                            <div class="meta">
                                                                <span class="post-by-author">Post by John Doe </span>
                                                                <span class="post-date">April 6, 2015</span>
                                                            </div>

                                                            <p class="excerpt-text-text">
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut accumsan orci. Nulla pulvinar sed turpis sit amet ultrices. Praesent mollis maximus ligula ac.
                                                            </p>

                                                            <div class="post-btn">
                                                                <a href="#" class="small wprt-button small outline">READ MORE</a>
                                                            </div>
                                                        </div><!-- /.text-wrap -->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="wprt-news style-1">
                                                <div class="news-item">
                                                    <div class="inner">
                                                        <img src="~/Public/assets/img/news/news-2-740x500.jpg" alt="image">

                                                        <div class="text-wrap">
                                                            <h3 class="title">
                                                                <a href="#">Together We Build</a>
                                                            </h3>

                                                            <div class="meta">
                                                                <span class="post-by-author">Post by John Doe </span>
                                                                <span class="post-date">April 6, 2015</span>
                                                            </div>

                                                            <p class="excerpt-text-text">
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut accumsan orci. Nulla pulvinar sed turpis sit amet ultrices. Praesent mollis maximus ligula ac.
                                                            </p>

                                                            <div class="post-btn">
                                                                <a href="#" class="small wprt-button small outline">READ MORE</a>
                                                            </div>
                                                        </div><!-- /.text-wrap -->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="wprt-news style-1">
                                                <div class="news-item">
                                                    <div class="inner">
                                                        <img src="~/Public/assets/img/news/news-3-740x500.jpg" alt="image">

                                                        <div class="text-wrap">
                                                            <h3 class="title">
                                                                <a href="#">Construction Management</a>
                                                            </h3>

                                                            <div class="meta">
                                                                <span class="post-by-author">Post by John Doe </span>
                                                                <span class="post-date">April 6, 2015</span>
                                                            </div>

                                                            <p class="excerpt-text-text">
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut accumsan orci. Nulla pulvinar sed turpis sit amet ultrices. Praesent mollis maximus ligula ac.
                                                            </p>

                                                            <div class="post-btn">
                                                                <a href="#" class="small wprt-button small outline">READ MORE</a>
                                                            </div>
                                                        </div><!-- /.text-wrap -->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="wprt-news style-1">
                                                <div class="news-item">
                                                    <div class="inner">
                                                        <img src="~/Public/assets/img/news/news-1-740x500.jpg" alt="image">

                                                        <div class="text-wrap">
                                                            <h3 class="title">
                                                                <a href="#">Future Smart Houses</a>
                                                            </h3>

                                                            <div class="meta">
                                                                <span class="post-by-author">Post by John Doe </span>
                                                                <span class="post-date">April 6, 2015</span>
                                                            </div>

                                                            <p class="excerpt-text-text">
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut accumsan orci. Nulla pulvinar sed turpis sit amet ultrices. Praesent mollis maximus ligula ac.
                                                            </p>

                                                            <div class="post-btn">
                                                                <a href="#" class="small wprt-button small outline">READ MORE</a>
                                                            </div>
                                                        </div><!-- /.text-wrap -->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="wprt-news style-1">
                                                <div class="news-item">
                                                    <div class="inner">
                                                        <img src="~/Public/assets/img/news/news-2-740x500.jpg" alt="image">

                                                        <div class="text-wrap">
                                                            <h3 class="title">
                                                                <a href="#">Together We Build</a>
                                                            </h3>

                                                            <div class="meta">
                                                                <span class="post-by-author">Post by John Doe </span>
                                                                <span class="post-date">April 6, 2015</span>
                                                            </div>

                                                            <p class="excerpt-text-text">
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut accumsan orci. Nulla pulvinar sed turpis sit amet ultrices. Praesent mollis maximus ligula ac.
                                                            </p>

                                                            <div class="post-btn">
                                                                <a href="#" class="small wprt-button small outline">READ MORE</a>
                                                            </div>
                                                        </div><!-- /.text-wrap -->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="wprt-news style-1">
                                                <div class="news-item">
                                                    <div class="inner">
                                                        <img src="~/Public/assets/img/news/news-3-740x500.jpg" alt="image">

                                                        <div class="text-wrap">
                                                            <h3 class="title">
                                                                <a href="#">Construction Management</a>
                                                            </h3>

                                                            <div class="meta">
                                                                <span class="post-by-author">Post by John Doe </span>
                                                                <span class="post-date">April 6, 2015</span>
                                                            </div>

                                                            <p class="excerpt-text-text">
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut accumsan orci. Nulla pulvinar sed turpis sit amet ultrices. Praesent mollis maximus ligula ac.
                                                            </p>

                                                            <div class="post-btn">
                                                                <a href="#" class="small wprt-button small outline">READ MORE</a>
                                                            </div>
                                                        </div><!-- /.text-wrap -->
                                                    </div>
                                                </div>
                                            </div>

                                        </div><!-- /.owl-carousel -->
                                    </div><!-- /.wprt-carousel-box -->
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-12">
                                    <div class="wprt-spacer clearfix" data-desktop="100" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div><!-- /.row-recent-new-1 -->
                    <!-- Partners 1 -->
                    <div class="row-partners-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer clearfix" data-desktop="88" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-6">
                                    <div class="wprt-content-box padding-right-6">
                                        <div class="wprt-headings clearfix">
                                            <h2 class="heading font-size-30">OUR PARTNERS</h2>
                                            <div class="sep"></div>
                                        </div>

                                        <div class="wprt-spacer clearfix" data-desktop="49" data-mobi="49" data-smobi="49"></div>

                                        <div class="wprt-partner-grid style-1 col-3 gutter-12">
                                            <div class="partner-wrap clearfix">
                                                <div class="partner-row clearfix">
                                                    <div class="partner-item">
                                                        <div class="inner-item">
                                                            <a target="_blank" href="#">
                                                                <img src="~/Public/assets/img/partners/1.jpg" alt="image">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.partner-item -->

                                                    <div class="partner-item">
                                                        <div class="inner-item">
                                                            <a target="_blank" href="#">
                                                                <img src="~/Public/assets/img/partners/2.jpg" alt="image">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.partner-item -->

                                                    <div class="partner-item">
                                                        <div class="inner-item">
                                                            <a target="_blank" href="#">
                                                                <img src="~/Public/assets/img/partners/3.jpg" alt="image">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.partner-item -->

                                                    <div class="partner-item">
                                                        <div class="inner-item">
                                                            <a target="_blank" href="#">
                                                                <img src="~/Public/assets/img/partners/4.jpg" alt="image">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.partner-item -->

                                                    <div class="partner-item">
                                                        <div class="inner-item">
                                                            <a target="_blank" href="#">
                                                                <img src="~/Public/assets/img/partners/5.jpg" alt="image">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.partner-item -->

                                                    <div class="partner-item">
                                                        <div class="inner-item">
                                                            <a target="_blank" href="#">
                                                                <img src="~/Public/assets/img/partners/6.jpg" alt="image">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.partner-item -->
                                                </div><!-- /.partner-row -->
                                            </div><!-- /.partner-wrap -->
                                        </div><!-- /.wprt-partner-grid -->
                                    </div><!-- /.wprt-content-box -->

                                    <div class="wprt-spacer clearfix" data-desktop="0" data-mobi="40" data-smobi="40"></div>
                                </div><!-- /.col-md-6  -->

                                <div class="col-md-6">
                                    <div class="wprt-headings clearfix">
                                        <h2 class="heading font-size-30">TESTIMONIALS</h2>
                                        <div class="sep"></div>
                                    </div>

                                    <div class="wprt-spacer clearfix" data-desktop="49" data-mobi="49" data-smobi="49"></div>

                                    <div class="wprt-carousel-box arrow-style-1 arrow-square arrow-top has-arrows" data-auto="true" data-loop="true" data-gap="30" data-column="1" data-column2="1" data-column3="1">
                                        <div class="owl-carousel owl-theme">
                                            <div class="wprt-testimonials clearfix style-1">
                                                <div class="item">
                                                    <div class="inner">
                                                        <blockquote class="text">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut accumsan orci. Nulla pulvinar sed turpis sit amet ultrices. Praesent mollis maximus ligula ac porttitor. Aenean vestibulum porta pellentesque.
                                                            <div class="arrow"></div>
                                                        </blockquote>

                                                        <div class="person">
                                                            <div class="avatar">
                                                                <div class="thumb">
                                                                    <img src="~/Public/assets/img/clients/client-1.png" alt="image">
                                                                </div>
                                                            </div>

                                                            <div class="info">
                                                                <h6 class="name">john romer</h6>
                                                                <span class="position">Designer</span>
                                                            </div>
                                                        </div><!-- /.person -->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="wprt-testimonials clearfix style-1">
                                                <div class="item">
                                                    <div class="inner">
                                                        <blockquote class="text">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut accumsan orci. Nulla pulvinar sed turpis sit amet ultrices. Praesent mollis maximus ligula ac porttitor. Aenean vestibulum porta pellentesque.
                                                            <div class="arrow"></div>
                                                        </blockquote>

                                                        <div class="person">
                                                            <div class="avatar">
                                                                <div class="thumb">
                                                                    <img src="~/Public/assets/img/clients/client-2.png" alt="image">
                                                                </div>
                                                            </div>

                                                            <div class="info">
                                                                <h6 class="name">john romer</h6>
                                                                <span class="position">Designer</span>
                                                            </div>
                                                        </div><!-- /.person -->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="wprt-testimonials clearfix style-1">
                                                <div class="item">
                                                    <div class="inner">
                                                        <blockquote class="text">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut accumsan orci. Nulla pulvinar sed turpis sit amet ultrices. Praesent mollis maximus ligula ac porttitor. Aenean vestibulum porta pellentesque.
                                                            <div class="arrow"></div>
                                                        </blockquote>

                                                        <div class="person">
                                                            <div class="avatar">
                                                                <div class="thumb">
                                                                    <img src="~/Public/assets/img/clients/client-1.png" alt="image">
                                                                </div>
                                                            </div>

                                                            <div class="info">
                                                                <h6 class="name">john romer</h6>
                                                                <span class="position">Designer</span>
                                                            </div>
                                                        </div><!-- /.person -->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="wprt-testimonials clearfix style-1">
                                                <div class="item">
                                                    <div class="inner">
                                                        <blockquote class="text">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut accumsan orci. Nulla pulvinar sed turpis sit amet ultrices. Praesent mollis maximus ligula ac porttitor. Aenean vestibulum porta pellentesque.
                                                            <div class="arrow"></div>
                                                        </blockquote>

                                                        <div class="person">
                                                            <div class="avatar">
                                                                <div class="thumb">
                                                                    <img src="~/Public/assets/img/clients/client-2.png" alt="image">
                                                                </div>
                                                            </div>

                                                            <div class="info">
                                                                <h6 class="name">john romer</h6>
                                                                <span class="position">Designer</span>
                                                            </div>
                                                        </div><!-- /.person -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.owl-carousel -->
                                    </div><!-- /.wprt-carousel-box -->
                                </div><!-- /.col-md-6  -->

                                <div class="col-md-12">
                                    <div class="wprt-spacer clearfix" data-desktop="100" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div><!-- /.row-partners-1 -->

                </div><!-- /#page-content -->
            </div><!-- /#inner-content -->
        </div><!-- /#site-content -->
    </div><!-- /#content-wrap -->
</main><!-- /#main-content -->
